.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 70;
  transition: background-color 0.35s;
  .logo {
    color: #7f5132;
    font-family: "Fixel";
    cursor: pointer;
  }
  .btn {
    cursor: pointer;
    padding: 6px 20px;
    padding-top: 8px;
    border: none;
    border-radius: 50px;
    background-color: #d18754;
    color: #4a2f1c;
    font-weight: 700;
    font-size: 18px;
    font-family: "Fixel";
  }
}
